p{
    font-size: 1rem;
}
.blackborder{
    border: 3px solid black;
}
#title1 {
    font-family: Burberry, Helvetica, sans-serif;
    margin: 2rem;
}
.resumeheader{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Burberry, Helvetica, sans-serif;
    background-color: rgb(164, 164, 164);
}
.resumebody{
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
}
.border-right {
    border-right: 2px solid black;
}
.border-bottom {
    border-bottom: 2px solid black;
}
.bold {
    font-weight: bold;
}
.smalltext {
    font-size: .5rem;
}
.margin2{
    margin: 2rem, 0rem, 2rem, 0rem;
}